<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <title>hboard</title>
</head>
<body>
    <!-- navbar -->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <!-- 기본 layout 안에 삽입될 내용 -->
    <th:block layout:fragment="content"></th:block>

    <!-- Bootstrap JS -->
    <script th:src="@{/bootstrap.min.js}"></script>
    <!-- 자바스크립트 -->
    <th:block layout:fragment="script"></th:block>
</body>
</html>